<div id="page_wrapper">
<div id="profile_image">
<%= image_tag "https://pbs.twimg.com/profile_images/551650276835614721/DisJx55S.jpeg" %>
</div>
<div id="content">
<h1>Hey, im blah blah</h1>
<p>i suck dicks, blah blah</p>
<p>edit me, blah blh</p>
</div>
</div>