<% provide(:title,"Home") %>
<%- @posts.each do |post| %>
    <div class="post_wrapper">
        <h2 class="title"> <%= link_to post.title, post %></h2>
        <p> <%=h post.body[0, 300].html_safe+"..." %></p> <!-- #For only showing the first 300 letters of the post -->
        <p class="date"><%= post.created_at.strftime("%B, %d, %y") %></p>
    </div>
    <% end %>